name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build APK
        run: |
          chmod +x gradlew || true
          gradle assembleDebug --stacktrace
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: TelegramApp
          path: app/build/outputs/apk/debug/*.apk
